<p id="notice"><%= notice %></p>

<h1>Listing Blueprints</h1>

<h3><%= @name %></h3>

<table>
  <thead>
    <tr>
      <th>Map zone</th>
      <th>Data type</th>
      <th>Data position</th>
      <th>Data value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blueprints.each do |blueprint| %>
      <tr>
        <td><%= blueprint.map_zone %></td>
        <td><%= blueprint.data_type %></td>
        <td><%= blueprint.data_position %></td>
        <td><%= blueprint.data_value %></td>
        <td><%= link_to 'Show', blueprint %></td>
        <td><%= link_to 'Edit', edit_blueprint_path(blueprint) %></td>
        <td><%= link_to 'Destroy', blueprint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blueprint', new_blueprint_path %>
